[submodule "ece4179"]
	path = ece4179
	url = https://github.com/evan-tan/ece4179.git
[submodule "ece4076"]
	path = ece4076
	url = https://github.com/evan-tan/ece4076.git
[submodule "ece4078-team2-05"]
	path = ece4078-team2-05
	url = https://github.com/evan-tan/ece4078-team2-05.git
[submodule "trc3500"]
	path = trc3500
	url = https://github.com/evan-tan/trc3500.git
[submodule "trc3000"]
	path = trc3000
	url = https://github.com/evan-tan/trc3000.git
[submodule "ece3161"]
	path = ece3161
	url = https://github.com/evan-tan/ece3161.git
[submodule "sumo-rl"]
	path = sumo-rl
	url = https://github.com/evantancy/sumo-rl
[submodule "ece3141"]
	path = ece3141
	url = https://github.com/evantancy/ece3141
